/* **********************
    Navbar
 *************************/
body {
    font-family: Arial, Helvetica, sans-serif;
}
body.modal-open {
  overflow: hidden;
}
.facebook-container{
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}
.facebook-container::after {
    content: "";
    height: 21.875rem;
    width: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.70),
        rgba(0, 0, 0, 0)
    );
    z-index: 1;
}
/* facebook container */
.row {
    --bs-gutter-x: 0rem;
}
.navbar-container {
    height: 3.5rem;
    position: sticky;
    top: 0;
    background-color: white;
    overflow: hidden;
    z-index: 5;
}
.navbar-left-content {
    display: flex;
    gap: 8px;
    padding-left: 16px;
    align-items: center;
    padding-right: 0px !important;
}
.navbar-left-search {
    background-color: #F0F2F5;
}
.left-nav-search-symbol {
    padding-left: 11px;
}
#left-nav-input {
    border: none;
    outline: none;
    padding-left: 3px;
    height: 40px;
    width: 248px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #F0F2F5;
    font-size: 15px;
}

/* *******************
    navbar center section
**********************/
.navbar-center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 113px;
}

/* *******************
    navbar right section
************************/
.navbar-right-content {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 16px;
    gap: 8px;
}
.navbar-right-symbols {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e3e4e6;
    cursor: pointer;
}

.profile {
    position: relative;
}
.downarrow {
    position: absolute;
    top: 35px;
    right: 16px;
    background-color: #F0F2F5;
    height: 14px;
    width: 14px;
    border-radius: 50%;
}

/*  */
#profile-details-container {
    display: none;
    position: fixed;
    top: 8%;
    right: 25px;
    background-color: white;
    z-index: 10;
    padding: 10px;
    min-width: 250px;
    /* display: flex; */
    flex-direction: column;;
    gap: 15px;
    border-radius: 8px;
}
.logout {
    width: 100px;
    height: 35px;
    color: white;
    font-weight: 900;
    background-color: white;
    border: solid red 1px;
    width: 100%;
    border-radius: 8px;
    background-color: red;
    margin-top: 12px;
}
.detail-line {
    margin: 12px 4px 0px 4px;
}
.profile-name {
    text-decoration: none;
    color: black;
    cursor: pointer;
    width: 100%;
    display: block;
}
.profile-name:hover {
    display: block;
    background-color: #e0e2e4;
    border-radius: 8px;
}

.edit-details-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.85);
}
.message-popup{
    position: fixed;
    top:0%;
    left: 50%;
    transform: translate(-50%);
    z-index: 99999;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-details {
    width: 700px;
    /* padding: 20px; */
}
.card-body {
    padding: 20px;
}
.edit-form-control, .form-control {
    height: 45px;
    border: none;
    /* border-bottom: rgb(168, 166, 166) solid 1px; */
    border-radius: 0px;
    outline: none;
    box-shadow: none;
}
.form-control:focus, .edit-form-control:focus {
    border: none;
    box-shadow: none;
    /* border-bottom: rgb(168, 166, 166) solid 1px;     */
}
#phone-error {
    color: red;
    margin-top: 10px;
}
.edit-profile-form-field {
    display: flex;;
    flex-direction: column;;
    gap: 16px;
}
.cross-img {
    /* position: absolute;
    right: 24px;
    top: 26px; */
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e2e4;
    border-radius: 50%;
    cursor: pointer;
}
.details-cancel-button {
    background-color: #e0e2e4;
    font-weight: 900;
}
.details-cancel-button:hover {
    background-color: #969899;
}
.details-save-button {
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 900;
}
/*  */

/* *********************
    cover image part
************************/
#cover-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 608px;
    position: relative;
    z-index: 2;
}

.img-container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.cover-img {
    margin-top: -210px;
    height: 1250px;
}

/* *********************
    followers section
********************* */
#followers-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 33px;
    margin-top: -30px;
}
.followers-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    margin-left: 15px;
}
.mark-zuckerberg-text {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 3px;
}
.followers-count {
    font-size: 15px;
    font-weight: 700;
    color: #65686C;
    margin-bottom: 5px;
}
.follower-buttons-container {
    display: flex;
    align-items: end;
    padding-bottom: 15px;
    gap: 8px;
    padding-right: 33px;
}
.mark-image {
    background-color: white;
}
.follower-images {
    background-color: white;
    border: white solid 2px;
    margin-left: -12px;
}
.follow-button {
    background-color: #0866FF;
    color: white;
    font-weight: 900;
    padding: 7px 12px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    display: flex;
    gap: 6px;
    align-items: center;
}
.follow-search-button {
    font-size: 15px;
    font-weight: 900;
    padding: 7px 12px;
    border: none;
    border-radius: 8px;
    background-color: #e0e2e4;
}

.arrowdown-button {
    padding: 6px 18px;
    border-radius: 8px;
    background-color: #e0e2e4;
}

.line {
    border-top: solid #d5d6d8 1px;
    margin-left: 33px;
    margin-right: 33px;
    margin-top: 17px;
}


/* *****************************
    more details section
********************************/
.more-details-container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 33px;
    padding-right: 33px;
}

.more-details {
    display: flex;
}
.information {
    padding: 20px 16px;
    font-size: 15px;
    font-weight: 700;
    color: #65686C;
    height: 60px;
}
.more-details .posts {
    color: #0064D1;
    border-bottom: #0064D1 solid 3px;
}
.three-dots-button {
    padding: 6px 14px;
    border-radius: 8px;
    background-color: #e0e2e4;
}

/* intro section */
#comments-main-container {
    display: flex;
    justify-content: center;
    background-color: #F2F4F7;
}

#comment-container {
    width: 1180px;
}

.intro-top-text {
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 10px;
}
hr {
    margin: 0px;
}

#intro-container{
    padding-top: 15px;
    padding-right: 3px;
}
#post-container {
    padding-top: 15px;
    padding-left: 13px;
}
.comment-section-intro, .comment-section-post {
    font-size: 20px;
    font-weight: 700;
}
.intro, .friends-container {
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
    border-radius: 12px;
    padding: 14px 15px 0px 15px;
}


.post {
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
    border-radius: 12px;
    padding: 8px 15px 8px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* inrto content */
.intro-content-container {
    padding: 15px;
    padding-top: 18px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.intro-content {
    display: flex;
    gap: 12px;
}

.intro-text {
    font-size: 15px;
}

#meta-channel-link {
    text-decoration: none;
}

.intro-followers-count {
    font-size: 13px;
}

.intro-img {
    filter: invert(40%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(150%);
}

.filter-button {
     padding: 6px 15px;
    border-radius: 8px;
    background-color: #e0e2e4;
}

#filter-bustton-text {
    font-size: 15px;
    font-weight: 700;
}

/* friends */
.friend-list-images {
    width: 100%;                /* Fill the grid cell */
    aspect-ratio: 1 / 1;        /* Keep square shape */
    object-fit: cover;          /* Crop the image to fill */
    border-radius: 5px;

}
.friend-name {
    word-wrap: break-word;
}
.friends-container {
    margin-top: 15px;
    padding-bottom: 14px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#friends {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
.friend {
    text-align: center;
    border: 1px solid #ccc;       /* Light gray border */
    padding: 0px;                /* Space inside the border */
    /* margin-left: 10px;  */
    border-radius: 5px;           /* Optional: makes the corners rounded */
    background-color: #f9f9f9; 
    width: 100%;  
    
    aspect-ratio: 1 / 1;        /* Keep square shape */
    object-fit: cover;          /* Crop the image to fill */
    border-radius: 5px; 
   
    
}
.friend-link {
    text-decoration: none;
    color: black;
}

/* comment container */
#printing-comments-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.comment-root-container {
    padding-top: 13px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.comment-container {
    padding: 15px 15px 8px 15px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
    border-radius: 12px;
    position: relative;
    height: 150px;
}
.comment-input-flied {
    width: 100%;
    height: 80px;
}
.comment-post-button {
    border-radius: 8px;
    background-color: #0866FF;
    padding: 6px 15px 6px 15px;
    color: white;
    border: none;
    font-weight: 700;
    position: absolute;
    right: 14px;
    bottom: 9px;
}

/* post comments */
.post-comments {
    height: auto;
    padding: 14px 15px 8px 15px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}
.post-details {
    display: flex;
    justify-content: space-between;
}
.post-profile-name {
    display: flex;
    gap: 10px;
}
.post-three-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert(40%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%);
}
.user-name-of-post {
    font-size: 15px;
    font-weight: 700;
    
}
.date-of-post {
    font-size: 13px;
    font-weight: 700;
}

.text-comment {
    padding-top: 15px;
    word-wrap: break-word;
}

/* post likes section */
.post-likes-section {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.thumbsup-symbol {
    background-color: white;
    border: white solid 1px;
}
.heart-symbol {
    margin-left: -8px;
    border-radius: 50%;
    border: white solid 1px;
    background-color: white;
}
.post-like-count {
    font-size: 15px;
    color: #65686C;
}

.comments-shares-container {
    display: flex;
    gap: 15px;
}

.comments-count, .shares-count {
    font-size: 15px;
    color: #65686C;
}

/* post */
.post-footer-container {
    padding-top: 15px;
    padding-bottom: 15px;
}
.post-like {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.post-footer {
    font-size: 15px;
    font-weight: 700;
    color: #65686C;
}

/* edit */
.edit-container {
    display: flex;
    justify-content: space-between;
}
.edit-button {
    height: 25px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: 900; */
    border: none;
    background-color: white;
    color: #0064D1;
}
.edit-hr-line {
    margin: 30px -20px 0px -20px;
}
.edit-button:hover {
    background-color: #ebe8e8;
}
.edit-button.active {
  background-color: #0d6efd;  /* Bootstrap primary blue */
  color: #fff;
  border-color: #0d6efd;
  box-shadow: 0 0 5px rgba(13, 110, 253, 0.5);
}
.edit-form-control {
    width: 50%;
    text-align: center;
}
.edit-input-field {
    display: flex;
    justify-content: center;
}

@media (min-width:1024px) and (max-width:1390px) {
    #left-nav-input{
        display: none;
    }
    .left-nav-search-symbol {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
    }
    
}
@media (min-width:768px) and (max-width:1024px) {
    .facebook-container::after {
        background: none;       
    }

    .img-container {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    #left-nav-input{
        display: none;
    }
    
    .left-nav-search-symbol {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
    }

    .cover-img {
        width: 100%;
        height: 1030px;
        margin-top: -174px;
        border-radius: 0px;
    }
    .img-container {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #comments-main-container {
        padding: 0px 16px;
    }
    #followers-container {
        padding-left: 17px;
    }
    .follower-buttons-container {
        padding-right: 17px;
    }
    .more-details-container {
        padding-left: 17px;
        padding-right: 17px;
    }
    #cover-image-container {
        height: 525px;
    }

    .navbar-center-content{
        gap: 83px;
    }
    
}

@media (min-width:425px) and (max-width: 768px) {

    .img-container {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .facebook-container::after {
        background: none;       
    }
    #left-nav-input {
        display: none;
    }
    .left-nav-search-symbol {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
    }
    #comments-main-container {
        padding-left: 44px;
        padding-right: 44px;
    }

    #followers-container {
        flex-direction: column;
        align-items: center;
        margin-top: -85px;
        padding-left: 0px;
        gap: 20px;
    }

    #cover-image-container {
        height: 545px;
    }
    .cover-img {
        height: 768px;
        margin-top: -128px;
        width: 100%;
    }
    .followers-content {
        margin-top: 10px;
        margin-left: 0px;
        display: flex;
        align-items: center;
    }
    .follower-buttons-container {
        padding: 0px;
    }
    .navbar-center-content {
        gap: 44px;
    }

    .post-comments {
        width: 88.5vw;
    }
    #post-container {
        padding-left: 0px;
    }
}

@media (min-width: 375px) and (max-width: 767px) {

    .img-container {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .facebook-container::after {
        background: none;       
    }
     #cover-image-container {
        height: 420px;
    }
    .cover-img {
        height: 425px;
        margin-top: -72px;
    }
    #comments-main-container {
        padding-left: 16px;
        padding-right: 13px;
    }
    .arrowdown-button {
        padding: 6px 40px 7px 40px;
    }
    .follow-search-button, .follow-button {
        padding: 8px 35px 8px 35px;
    }
    .more-details-container {
        padding-left: 17px;
        padding-right: 17px;
    }

    .body-container {
        width: 100%;
    }
    .cover-img {
        width: 100%;
    }

    #followers-container {
        flex-direction: column;
        padding-left: 0px;
    }
    .follower-buttons-container {
        padding-right: 0px;
    }
    .intro-study-content {
        margin-top: -4px;
    }

    .post-comments {
        width: 93vw;
    }

    #post-container {
        padding-left: 0px;
    }
    #left-nav-input{
        display: none;
    }
    .left-nav-search-symbol {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
    }
}

@media (max-width: 375px) {
    #left-nav-input{
        display: none;
    }
    .left-nav-search-symbol {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
    }
     .arrowdown-button {
        padding: 6px 33px 7px 33px;
    }
    .follow-search-button, .follow-button {
        padding: 7px 28px 7px 28px;
    }
    .follower-buttons-container {
        padding-bottom: 0px;
        padding-left: 15px;
        padding-top: 20px;
        padding-right: 10px;
    }
    #followers-container {
        margin-top: -85px;
        flex-direction: column;
    }
    .followers-content {
        align-items: center;
        margin: 0px;
        margin-top: 10px;
    }
    #left-nav-input {
        display: none;
    }
    .left-nav-search-symbol {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
    }
    #cover-image-container {
        height: 401px;
    }
    .cover-img {
        height: 375px;
        margin-top: -62px;
    }
    .line {
        margin-left: 16px;
        margin-right: 14px;
    }
    .intro-study-content {
        margin-top: -4px;
    }

    .img-container {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .facebook-container::after {
        background: none;       
    }
    #comments-main-container {
        padding-left: 16px;
        padding-right: 13px;
    }
    .more-details-container {
        padding-left: 17px;
        padding-right: 17px;
    }
    #followers-container {
        flex-direction: column;
        padding-left: 0px;
    }

    .post-comments {
        width: 93vw;
    }

    #post-container {
        padding-left: 0px;
    }

#friends {
    
    grid-template-columns: repeat(2, 1fr);
    
}
}

@media (max-width: 325px) {
    .arrowdown-button {
        padding: 6px 26px 7px 23px;
    }
    .follow-search-button, .follow-button {
        padding: 7px 18px 7px 18px;
    }
    .mark-zuckerberg-text {
        padding: 0px 33px 0px 33px;
        text-align: center;
    }
    .cover-img {
        height: 321px;
        margin-top: -54px;
    }
    .about-details {
        display: none;
    }
    .follower-buttons-container {
        padding-top: 23px;
    }
    #cover-image-container {
        height: 422px;
    }

    .post-comments {
        width: 93vw;
    }
    #printing-comments-section {
        align-items: center;
    }
     /* #comments-main-container {
        padding-left: 20px;
        padding-right: 23px;
    } */
     #comment-container {
    width: 300px;
}

#left-nav-input{
        display: none;
    }
}